<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>


	<title>{{title}}</title>

	<link href="../public/images/administratorIcon.jpg" rel="icon" >
	<link href="../public/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="../public/font-awesome/css/font-awesome.min.css" rel="stylesheet" >
	<link href="../public/stylesheets/administrator.css" rel="stylesheet">
	<link href="../public/stylesheets/form-elements.css" rel="stylesheet">
</head>

<body>
	 <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand home" href="#">教师管理</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#">课程安排</a></li>
            <li><a href="#">点名结果</a></li>
            <li><a href="#">试卷查看</a></li>
             <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">课堂管理<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">点名</a></li>
                <li><a href="#">出题</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle fa fa-user-circle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{name}} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">个人信息</a></li>
                <li><a href="#">登出</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../public/bootstrap/js/bootstrap.min.js"></script>	
</body>