<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hello {{user}} ! </h1>
    <h2>This page is your Control pannel.</h2>
  </body>
</html>
