<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>{{title}}</title>
	<link href="/images/signinIcon.jpg" rel="icon" >
	<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" >
	<link href="/stylesheets/qrcode.css" rel="stylesheet">
	<link href="/stylesheets/form-elements.css" rel="stylesheet">
</head>
<body>
	<div id="qrcodeCanvas"></div>
	<script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
	<script type="text/javascript" src="/javascripts/jquery.qrcode.js"></script>
	<script type="text/javascript" src="/javascripts/qrcode.js"></script>
	<script>
		jQuery('#qrcodeCanvas').qrcode({
			width:600,
			height:600,
			text: document.URL.replace('qrcode#/', '')
		});
	</script>
</body>
