body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
    text-align: center;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.home {
    font-size: 20px;
    font-weight: 350px;
    color: #000000；
}