.stulist {
  max-height: 42rem;
  overflow-y: auto;
}
.form-button {
  margin-top: 4rem;
}
.addtitle {
  text-align: center;
}

.addcoursebtn {
  font-size: 30pt;
  font-weight: 100;
  line-height: 56px;
}
#stulistinput {
  display: none;
  visibility: hidden;
}

#stutable {
  border:1px solid #CCCCCC;
}

#stutable > td {
  background: "#FFFFFF";
}

#stuID, #stuName {
  font-size: 20px;
}

#getstu, #savestu, #addtd {
  margin-top: 10px;
}

#tablebtn {
  margin-top: 50px;
}

#editstubtn {
  float: right;
  margin-right:25px;
  font-size:10px;
  width:80px;
  height:40px;
}

#tablenav > h2 {
  float:left;
  font-size:25px;
}

#getstu {
  margin-right:15px;
}

#savestu {
  margin-right: 15px;
}


