body {
  position: relative;
  overflow-x: hidden;
}
body,
html {
  height: 100%;
}

h1 {
  font-size: 25px;
  text-align: center;
}

h2 {
  font-size: 20px;
  margin-left: 3px;
}

.eachdescription{
  font-size: 18px;
  margin-bottom: 10px;
}

.eachselection {
  margin-left: 5px;
  font-size: 20px;
  margin-top: -10px;
  font-weight: normal;
}

.questionjudge {
  margin-left: 5px;
}

.selectiondiv {
  margin-top: 5px;
  padding-left: 5px;
}
.seletionNum {
  margin-left: 5px;
}
.check {
  width: 20px;
  height: 18px;
}

#jiaojuan {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
