body {
  position: relative;
  overflow-x: hidden;
}
body,
html {
  height: 100%;
}
.nav .open > a {
  background-color: transparent;
}
.nav .open > a:hover {
  background-color: transparent;
}
.nav .open > a:focus {
  background-color: transparent;
}
/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/
#wrapper {
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  padding-left: 0;
  transition: all 0.5s ease;
}
#wrapper.toggled {
  padding-left: 220px;
}
#wrapper.toggled #sidebar-wrapper {
  width: 220px;
}
#wrapper.toggled #page-content-wrapper {
  margin-right: -220px;
  position: absolute;
}
#sidebar-wrapper {
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  background: #1a1a1a;
  height: 100%;
  left: 220px;
  margin-left: -220px;
  overflow-x: hidden;
  overflow-y: auto;
  transition: all 0.5s ease;
  width: 0;
  z-index: 1000;
}
#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}
#page-content-wrapper {
  padding-top: 50px;
  width: 100%;
  height: 100%;
}
/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/
.sidebar-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  top: 0;
  width: 220px;
  height: 70%;
}
.sidebar-nav li {
  display: inline-block;
  line-height: 65px;
  position: relative;
  width: 100%;
}
.sidebar-nav li:before {
  background-color: #020202;;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  -webkit-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in;
  width: 3px;
  z-index: -1;
}
.sidebar-nav li:first-child a {
  background-color: #1a1a1a;
  color: #ffffff;
}

.sidebar-nav li:hover:before {
  -webkit-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in;
  width: 100%;
}
.sidebar-nav li a {
  color: #dddddd;
  display: block;
  padding: 10px 15px 10px 30px;
  text-decoration: none;
}
.sidebar-nav li.open:hover before {
  -webkit-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in;
  width: 100%;
}
.sidebar-nav .dropdown-menu {
  background-color: #222222;
  border-radius: 0;
  border: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}
.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus {
  background-color: transparent;
  color: #9a3e3e;
  text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
  font-size: 22px;
  height: 65px;
  line-height: 44px;
}

.sidebar-nav > .item, .sidebar-nav > .bottomItem {
  font-size: 19px;
}

.bottomnav {
  bottom: 0px;
  position:relative;
  height: 20%;
}
/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/
.hamburger {
  background: transparent;
  border: none;
  display: block;
  height: 32px;
  position: relative;
  float: left;
  top: 8px;
  width: 32px;
  z-index: 999;
  /*margin-right: 15px;*/
  margin-left: 0px;
}
.hamburger:hover {
  outline: none;
}
.hamburger:focus {
  outline: none;
}
.hamburger:active {
  outline: none;
}
.hamburger.is-closed:before {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.35s ease-in-out;
  color: #ffffff;
  content: '';
  display: block;
  font-size: 14px;
  line-height: 32px;
  opacity: 0;
  text-align: center;
  width: 100px;
}
.hamburger.is-closed:hover before {
  -webkit-transform: translate3d(-100px, 0, 0);
  -webkit-transition: all 0.35s ease-in-out;
  display: block;
  opacity: 1;
}
.hamburger.is-closed:hover .hamb-top {
  -webkit-transition: all 0.35s ease-in-out;
  top: 0;
}
.hamburger.is-closed:hover .hamb-bottom {
  -webkit-transition: all 0.35s ease-in-out;
  bottom: 0;
}
.hamburger.is-closed .hamb-top {
  -webkit-transition: all 0.35s ease-in-out;
  background-color: rgba(255, 255, 255, 0.7);
  top: 5px;
}
.hamburger.is-closed .hamb-middle {
  background-color: rgba(255, 255, 255, 0.7);
  margin-top: -2px;
  top: 50%;
}
.hamburger.is-closed .hamb-bottom {
  -webkit-transition: all 0.35s ease-in-out;
  background-color: rgba(255, 255, 255, 0.7);
  bottom: 5px;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  height: 4px;
  left: 0;
  position: absolute;
  width: 100%;
}
.hamburger.is-open .hamb-top {
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
  background-color: #ffffff;
  margin-top: -2px;
  top: 50%;
}
.hamburger.is-open .hamb-middle {
  background-color: #ffffff;
  display: none;
}
.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
  background-color: #ffffff;
  margin-top: -2px;
  top: 50%;
}
.hamburger.is-open:before {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.35s ease-in-out;
  color: #ffffff;
  content: '';
  display: block;
  font-size: 14px;
  line-height: 32px;
  opacity: 0;
  text-align: center;
  width: 100px;
}
.hamburger.is-open:hover before {
  -webkit-transform: translate3d(-100px, 0, 0);
  -webkit-transition: all 0.35s ease-in-out;
  display: block;
  opacity: 1;
}
/*-------------------------------*/
/*          navbar-header        */
/*-------------------------------*/

.navheader {
  background: #1a1a1a;
}

.navbar {
  margin-bottom: 0px;
  height: 20px;
  border:none;
}

/*-------------------------------*/
/*          table                */
/*-------------------------------*/
.container {
  margin-right: 8px;
  margin-left: 8px;
  padding: 10px;
}
#rightpage {
  height: 100%;
}
.row#content {
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
  overflow: auto;
}
table {
  font-size: 16px;
}

/*-------------------------------*/
/*          course               */
/*-------------------------------*/
.addcourse, .stulist {
  max-width: 50%;
  min-width: 300px;
  display:inline-block;
  vertical-align: top;
}
.stulist {
  max-width: 30%;
}
.addcourse h2, .stulist h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.addtitle {
  text-align: center;
}

.addcoursebtn {
  font-size: 30pt;
  font-weight: 100;
  line-height: 56px;
}

/*-------------------------------*/
/*          table                */
/*-------------------------------*/
#stulistinput {
  display: none;
  visibility: hidden;
}

#stutable {
  border:1px solid #CCCCCC;
}

#stutable > td {
  background: "#FFFFFF";
}

#stuID, #stuName {
  font-size: 20px;
}

#getstu, #savestu, #addtd {
  margin-top: 10px;
}

#tablebtn {
  margin-top: 50px;
}

#editstubtn {
  float: right;
  margin-right:25px;
  font-size:10px;
  width:80px;
  height:40px;
}

#tablenav > h2 {
  float:left;
  font-size:25px;
}

#getstu {
  margin-right:15px;
}

#savestu {
  margin-right: 15px;
}



/*-------------------------------*/
/*          exam                 */
/*-------------------------------*/
.quesdescription {
  height: 150px;
}

.tddes {
  margin-left:10px;
  width:350px;
}

.tdans {
  margin-left:10px;
  width:350px;
}

/*题目答案样式*/
.rightans > p {
  float: left;
  font-size: 14px;
  margin-top: 2px;
}

.examselection > p{
  float: left;
  font-size: 15px;
  margin-top: 5px;
}

.rightans > textarea, .examselection > textarea {
  margin-left: 3px;
}

/*题目选项*/
.examselection > p{
  font-size:15px;
}

.seletext {
  margin-top: 3px;
}

/*增加选项*/
.addselections {
  width: 30px;
  height: 30px;
  margin-left: 180px;
  border: none;
}

.addselectionbtn {
  font-size: 30pt;
  font-weight: 100;
  line-height: 15px;
}

.secbtn {
  margin-top: 5px;
  float: right;
}
.delsec {
  font-size: 12px;
  float: right;
  margin-left: 5px;
}

.addsec {
  font-size: 12px;
  float: right;
}



#addquestion {
  float: left;
}

#panduan {
  margin-left: 10px;
}

#jieda {
  margin-left: 10px;
}

#exambtn {
  float: left;
}

#saveexam {
  margin-left: 5px;
}

#saveandstart {
  margin-left: 5px;
  /*float: left;*/
}

#examinput, #examname {
  display: none;
  visibility:hidden;
}

/*-------------------------------*/
/*          Dark Overlay         */
/*-------------------------------*/
.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}
