<table class="table">
  <thead>
    <tr>
      <th>学号</th>
      <th>姓名</th>
      <th>签到时间</th>
    </tr>
  </thead>
  <tbody>
    {{#each signindetail}}
    <tr>
      <td>{{stu_id}}</td>
      <td>{{name}}</td>
      <td>{{time}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
